<web-app>
    <display-name>Playground</display-name>

    <filter>
        <filter-name>PlaygroundApplication</filter-name>
        <filter-class>org.apache.wicket.protocol.ws.jetty.Jetty7WebSocketFilter</filter-class>
        <init-param>
            <param-name>applicationClassName</param-name>
            <param-value>com.comsysto.movie.ui.application.PlaygroundApplication</param-value>
        </init-param>
    </filter>

    <filter-mapping>
        <filter-name>PlaygroundApplication</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>
            classpath:com/comsysto/movie/ui/spring-context.xml
        </param-value>
    </context-param>

    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>

    <!-- Needed to bind the spring session-scope to the request. -->
    <listener>
        <listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
    </listener>

</web-app>
